{% extends 'base.html.twig' %}

{% block title %}Questions pour un jam
{% endblock %}

{% block body %}

	{% for theme in Themes %}
		<div>
			<a class="btn btn-outline-primary" style="" href="questions/{{ theme.nomtheme }}/1">{{ theme.nomtheme }}</a>
		</div>
	{% endfor %}

	{% if app.user %}
		<a class="btn btn-outline-danger" href="logout">Se déconnecter</a>
	{% else %}
		<a class="btn btn-outline-success" href="login">Se connecter</a>
		<a class="btn btn-outline-success" href="register">S'inscrire'</a>
	{% endif %}
{% endblock %}
