
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/*
!*/vendor/symfony/phpunit-bridge/bin/


vendor/*
!vendor/autoload.php
vendor/*
!vendor/composer/
!vendor/symfony
vendor/symfony/*
!vendor/symfony/phpunit-bridge
vendor/symfony/phpunit-bridge/*
!vendor/symfony/phpunit-bridge/bin
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
